header
{
    max-width: 100%;
    height: 70px;
    padding-top: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: silver;
}

main
{
    max-width: 800px;
    margin: auto;
}

nav
{
    max-width: 800px;
    margin: auto;
}

footer
{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

img
{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 10px;
}

.vastag
{
    font-weight: bold;
    margin-bottom: 0;
}

.adatok
{
    padding-left: 15px;
}

.szegely
{
    border: 1px solid gray;
    max-width: 250px;
    margin: 7px;
}

h4
{
    margin-top: 10px;
}