body {
    width: auto;
    border: 1px solid black;
    margin: auto;
}

.meret
{
    width: 800px;
    height: auto;
    margin: auto;
}

header {
    background-color: lightgray;
    border-bottom: 1px solid black;
    width: auto
}

main {
    padding-top: 20px;
}

.footer
{
    text-align: center;
}


a{
    text-decoration: underline;
    
}
